<ion-view title="Name It " hide-nav-bar="true" id="page1" class=" ">
    <ion-content padding="true" style="background: url(img/EFtkVRhTImbNaXXaYhbx_blue_bokeh.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <form id="nameIt-form6" class="list ">
            <label class="item item-input fullscreen-text-area" id="nameIt-textarea3">
                <span class="input-label">Text</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <button id="nameIt-button2" class=" button button-calm  button-block icon ion-ios-loop round-button">Translate</button>
    </ion-content>
</ion-view>