
<ion-view title="Name It " hide-nav-bar="true" id="page1" class=" ">
    <ion-content ng-controller="nameItCtrl" scroll="false" padding="false" style="background: url(img/EFtkVRhTImbNaXXaYhbx_blue_bokeh.jpg) no-repeat;-webkit-background-size: 130% auto;" class="manual-ios-statusbar-padding">
      <!--header row for translation language selection-->
      <div id="translation-pannel" class="row">
        <div class="col col-40 horizontal-center">
            <select id="language-from" class="no-label-select" ng-options="key as value for (key , value) in languages" ng-model="langFromSelected" ng-change="langFromChanged(langFromSelected)">
            </select>
        </div>
        <div class="col col-20">
            <button id="language-swap-btn" ng-click="swapLanguages()" class="button button-small ion-arrow-swap"></button>
        </div>
        <div class="col col-40 horizontal-center">
          <select id="language-to" class="no-label-select" ng-options="key as value for (key , value) in languages" ng-model="langToSelected" ng-change="langToChanged(langToSelected)">
          </select>
        </div>
      </div>
      <!--main content area for for text area-->
      <div class="row">
        <div class="col">
      <form id="nameIt-form6" class="list">
            <label class="item item-input fullscreen-text-area" id="nameIt-textarea3">
                <input class="fullscreen-text-area" focus-on="input" ng-model="textArea" ng-change="inputChanged()" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search anything...'" placeholder="Search anything..."></input>
            </label>
        <div class="horizontal-center">
          <ion-spinner id="loading" icon="dots" class="horizontal-center spinner-energized invisible"></ion-spinner>
        </div>
          <ion-list id="main-search-results">
            <ion-scroll direction="y" height="200px" >
            <ion-item  class="item  item-thumbnail-left name-it-list" ng-repeat="item in list">
              <img align="middle" ng-src="{{item.img}}">
              <h2>{{item.title}}</h2>
              <!--<p>{{item.snippet}}</p>-->
              <p><span ng-repeat="tran in item.trans">{{tran}}</span></p>
            </ion-item>
            </ion-scroll>
          </ion-list>
      </form>
        </div>
      </div>

        <div class="footer hide-on-keyboard-open">
          <div class="footer-content">
            <button id="nameIt-button2" ng-click="kbButtonClicked()" class=" button button-dark button-block icon-keyboard round-button"></button>
          </div>
        </div>

    </ion-content>
  <!--last row for button-->

</ion-view>
